shamefully-hoist=true
# 当你安装多个软件包时，它们可能会共享相同的依赖项。shamefully-hoist允许将这些共享的依赖项提升到更高级别的位置，以减少磁盘空间和安装时间。它被称为"shamefully"，因为在某些情况下，它可能会导致一些不可预料的问题。如果你不想使用这种行为，可以设置shamefully-hoist为false。

strict-peer-dependencies=false
# 在npm或yarn中，当多个软件包依赖于不同版本的同一个软件包时，会引发错误。而在pnpm中，strict-peer-dependencies设置为false时，允许安装具有不同版本的同一个软件包的依赖项，以满足所有软件包的需求。但请注意，这也可能导致一些潜在的冲突问题。

auto-install-peers=true
# 在npm或yarn中，当你安装一个依赖项时，需要手动安装其对等依赖项（peer dependencies）。而在pnpm中，auto-install-peers设置为true时，它会自动安装对等依赖项，以确保依赖关系正确。这样可以简化项目的依赖管理过程。

registry=https://registry.npmmirror.com