:root {
  --color-bg: #f5f6f7;
  --color-border: #dee0e3;
  --color-block-hover: #f5f5f5;
  --color-icon-hover: #e8e9e8;
  --color-text: #1f2329;
  --color-active-bg: #ecf5ff;
  --color-active-text: #409eff;
  --color-edit-render-block-bg: #ffffff;
  --color-edit-render-block-border: #d0d0d0;
  --color-edit-render-block-border-hover: var(--color-active-text);
  --color-config-block-bg: #f3f5f7;
}
