// mobile
@mixin mb {
  @media (max-width: 1023.9px) {
    @content;
  }
}

@mixin mb-ct {
  @container (max-width: 1023.9px) {
    @content;
  }
}

// pc
@mixin pc {
  @media (min-width: 1024px) {
    @content;
  }
  @container (min-width: 1024px) {
    @content;
  }
}

@mixin res($property, $mobile: null, $pc: null) {
  $pcValue: if(unitless($pc), #{$pc}px, $pc);
  $mobileValue: if(unitless($mobile), vw($mobile), $mobile);
  $mobileContainerValue: if(unitless($mobile), #{$mobile}px, $mobile);

  @if (exists($pc)) {
    @include pc {
      #{$property}: $pcValue;
    }
  }

  @if (exists($mobile)) {
    @include mb-ct {
      #{$property}: $mobileContainerValue;
    }
    @include mb {
      #{$property}: $mobileValue;
    }
  }
}

// @include res(font-size, 12, 20);
// @include res(width, 12, 20);
// @include res(height, 12, 20);
