:root {
  --border-radius: 6px;
}

:root {
  --el-border-radius-base: var(--border-radius);
  --el-box-shadow-light: 0px 0px 12px rgba(0, 0, 0, 0.06);
}

.el-popper {
  border-radius: var(--border-radius);
}
